{% extends "layout.html" %} {% block content %}

<p>Following is a summary of projects I'm currently working on and have worked on:</p>
<div class="project">

    <p>
        <img class="parawrap" src="{{ url_for('static', filename='img/wateratm.png') }}" width="150" height="150">

        <h4><strong>Water ATM: A Water Dispensing and Quality Measurement Unit</strong></h4>
        
        WaterATM is a user friendly automated water dispensing machine installed over filtration plants. It regulates usage of clean drinking water by using a user authentication mechanism. It provides technological innovations and help in saving clean and filtered water wastage which eventually impacts the community health.
    </p>
</div>

<div class="project">

    <p>
    <img class="parawrap" src="{{ url_for('static', filename='img/superabbu.png') }}" width="150" height="150">
    <h4><strong>Super Abbu: Hotline for Expectant Dads</strong></h4>
    The Har Zindagi pilot aims to achieve significant performance improvements in immunization administration, such as augmented uptake, retention and quality of immunization, by engaging with disadvantaged communities and using low-cost technology to cohere the lower layers of the health system with the managerial layer.
    </p>
</div>

<div class="project">

    <p>
        <img class="parawrap" src="{{ url_for('static', filename='img/harzindagi.png') }}" width="150" height="150">
        <h4><strong>Har Zindagi: an Immunization Information System for Punjab, Pakistan</strong></h4>
        The Har Zindagi pilot aims to achieve significant performance improvements in immunization administration, such as augmented uptake, retention and quality of immunization, by engaging with disadvantaged communities and using low-cost technology to cohere the lower layers of the health system with the managerial layer.
    </p>
</div>

<div class="project">

    <p>
    <img class="parawrap" src="{{ url_for('static', filename='img/idds.png') }}" width="150" height="150">
    <h4><strong>IDDS: Co-Design for Social Impact</strong></h4>
    The Har Zindagi pilot aims to achieve significant performance improvements in immunization administration, such as augmented uptake, retention and quality of immunization, by engaging with disadvantaged communities and using low-cost technology to cohere the lower layers of the health system with the managerial layer.

    </p>
</div>

{% endblock content %}